/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* Canvas Setting */
.canvas {
    border: 1px black solid;
    position: absolute;
    top: 66px;
    left: 42px;
}

/* Top area */
.topArea {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: auto;
    flex-wrap: nowrap;
    background-color: #535353;
}

.topAreaText {
    margin-top: 15px;
    margin-left: 2px;
}

/* Upper area */
.upperArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #535353;
    align-items: center;
    height: 20px;
}

/* Lower area */
.lowerArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px solid #424242;
    background-color: #535353;
    margin-top: 2px;
    align-items: center;
}

/* Top button */
.top-btn {
    background-color: #535353;
    border: 0.5px solid #535353;
    width: 40px;
    height: 40px;
}

.top-btn:hover {
    border: 0.5px solid #666666;
    background-color: #454545;
}

/* Lower area Image Setting */
.icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-top: 10px;
}

.icon.undo {
    margin-top: 11.5px;
    margin-left: 10px;
    width: 16px;
    height: 16px;
}

/* Dropdown menu */
.dropdown-menu {
    background-color: #535353 !important;
    color: white !important;
}

.dropdownIcon {
    width: 23px;
    height: 23px;
}

/* Dropdown container */
.dropdownContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
}

/* Stroke circle */
#strokeCircle {
    width: 35px;
    height: 35px;
    background-color: white;
    border: 2px dotted white;
    border-radius: 50%;
}

#strokeCircle:hover {
    border: 2px solid red;
}

#strokeCircle img {
    height: 100%;
    width: 100%;
}

/* Stroke square */
#strokeSquare {
    width: 35px;
    height: 35px;
    border: 2px dotted white;
    border-radius: 50%;
}

#strokeSquare:hover {
    border: 2px solid red;
}

#strokeSquare img {
    height: 100%;
    width: 100%;
}

/* Reset filter */
#resetFilter:hover {
    background-color: #454545;
}

/* Left area */
.leftArea {
    border: 2px solid #424242;
    border-style: solid solid solid none;
    float: left;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: auto;
    width: 34px;
    position: absolute;
    top: 65px;
    background-color: #535353;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Strategy container */
.strategies {
    background-color: #535353;
    border: 0.5px solid #535353;
}

.strategies:hover {
    border: 0.5px solid #666666;
    background-color: #454545;
}

/* Strategy Image Settings */
.icon2 {
    margin: 5px;
    width: 20px;
    height: 20px;
}

.icon2.arc {
    margin-left: 2px;
    width: 25px;
    height: 25px;
}

/* Color Picker Dropdown */
.dropdownStrategies {
    width: 35px;
    height: 35px;
    margin: 0;
}

.dropdownStrategies img {
    width: 100%;
    height: 70%;
}

.strategies.colorPick {
    margin-top: 3px;
    width: 60px;
    height: 30px;
}

#colorPickerFill,
#colorPickerStroke {
    width: 60px;
    height: 30px;
}